node_modules/
src/__static__/recarregar.js
src/__static__/App.js
src/__static__/routes.js
src/__static__/ss_routes.js
src/actions/
src/reducers/
src/store/
src/middleware/
src/containers/
stories
src/stories/
*.stories.js

### other files ###
build/
.storybook/
static-site*
.vscode
